*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fcf7f8;
  color: #ff536e;
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: -0.5px;
  padding-bottom: 64px;
}

h1,
h3 {
  font-family: 'Arapey', serif;
}

input,
select {
  background-color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: -0.5px;
}

.purple {
  color: #341539;
}
